{% extends "_base.htm" %}
{% block bodycontent %}
 <p><img src="/static/me.jpg" width="262" height="350" alt="ME" /><b>Mike's Home Page</b></p>
 <p><c>Ming-Kai Ko (Mike) is now a Master student of Electrical Engineering and Computer Science (EECS) at the University of Michigan.</c></p>
 <p><c>If you need to contact him, please email to : </c><a href="mailto://minkako@umich.edu">minkako@umich.edu</a><img src="/static/university-of-michigan_logo.jpg" width="60" height="44" alt="UM_logo" /></p>
 {% endblock %}
